.gradle/*
gradlew*
gradle/wrapper/*
*.iml
*.ipr
*.iws
work/
.store/
log/
logs/
.DS_Store
build/
bin/
*/bin
target/
eclipse-build
*/eclipse-build
/.settings/
*/.settings/
.idea/
/.classpath
/.project
/bin/
data/
*~
*.swp
*.pyc
.classpath
.project
*.project
*.settings
*.cache-main
